@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

$bg-color: #EBEEF3;

* {
  font-family: 'Inter', sans-serif;
};

body {
  background-color: $bg-color !important;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}