.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.articles-page-item {
  width: 941px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
}

.item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  .header-info {
    display: flex;
    .info-title {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #1890ff;
    }
    .info-likes {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-left: 13px;
      position: relative;
      .likes-count {
        position: absolute;
        transform: translate(20px);
        color: rgba(0, 0, 0, 0.75);
      }
    }
  }
  .header-tags {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    .info-tagname {
      color: rgba(0, 0, 0, 0.5);
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      padding: 2px 5px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      margin: 5px 8px 0 0;
    }
  }
}

.item-header-user-info {
  display: flex;
  .user-data {
    margin-right: 12px;
    span {
      display: block;
      text-align: end;
      &:nth-child(1) {
        font-size: 18px;
        line-height: 28px;
      }
      &:nth-child(2) {
        line-height: 22px;
        color: rgba(0, 0, 0, 0.5);
      }
    }
    .user-data-created {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.5);
      line-height: 22px;
    }
  }
  img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
  }
}

.item-description {
  color: rgba(0, 0, 0, 0.5);
  max-width: 682px;
  margin-bottom: 28px;
}

.item-body {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.75);
  line-height: 25px;
  p {
    margin: 0;
    padding-right: 42px;
    img {
      max-width: 100%;
    }
  }
}

.descbuttons {
  display: flex;
  justify-content: space-between;
  .delete,
  .edit {
    cursor: pointer;
    background: #fff;
    border-radius: 5px;
    padding: 6px 19px 5px 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .edit {
    margin-left: 6px;
    color: #52c41a;
    border: 1px solid #52c41a;
    transition: 0.3s;
    &:hover {
      background: #52c41a;
      color: #fff;
    }
  }
  .delete {
    color: #f5222d;
    border: 1px solid #f5222d;
    transition: 0.3s;
    &:hover {
      background: #f5222d;
      color: #fff;
    }
  }
}
